@page "/modelos"
@inject IJSRuntime JS
@inject IMarcasServicio marcasService
@inject IModelosServicio modelosService
@inject NavigationManager navi

    <div class="row">
        <div class="ml-4">
            <h1>Modelos</h1>
        </div>
        <div style="padding-left:2em">
            <select class="form-control btn btn-soft-primary" style="vertical-align: text-top" @onchange="OnChange" required>
                <option value="null" disabled>Marca</option>
                @foreach (var item in marcas)
                {
                    <option value="@item.Id">
                        @item.Nombre
                    </option>
                }
            </select>
        </div>
        <div class="row" style="margin-left:auto; margin-right:5%">
            <div>
                <MultiTask @ref="multi" Eliminar="(() => EliminarMultiple())"></MultiTask>
            </div>
            <div style="padding-left:3em">
                <input type="button" data-toggle="modal" data-target="#taskModal" class="btn btn-soft-primary transition-3d-hover" value="Añadir" @onclick="(() => InicializarObjetoAdd())" />
            </div>
            <div style="padding-left:2em">
                <FormBuscar objetoBuscar="@objetoBuscar" OnValidSubmit="(() => Buscar(objetoBuscar.Texto))"></FormBuscar>
            </div>
        </div>
    </div>
<hr />

<div class="row">

    <div class="row col-lg-8 mx-md-auto" style="padding-left:2em">

        <div class="table-responsive-sm w-100">

            @if (modelosXmarca == null)
            {<p class="text-danger" style="font-family: 'Arial Rounded MT'; text-align: center">Cargando</p>}
            else if (modelosXmarca.Count == 0)
            {
                <p class="text-danger" style="font-family: 'Arial Rounded MT'; text-align: center">N/A</p>
            }
            else
            {
                <table class="table table-light">
                    <thead>
                        <tr style="font-size: small; color: white; background-image: linear-gradient(182deg, rgb(8, 38, 123) 0%, #4f1056 90%);">
                            <th></th>
                            <th>Nombre</th>
                            <th>Marca</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="font-size-1" style="font-family: 'Arial Rounded MT'">
                        @foreach (var item in modelosXmarca)
                        {
                            <tr class="my-transition-3d-hover">
                                <td><input name="AreChecked" type="checkbox" value="@item" @onchange="eventArgs => { CHBCheckChanged(item, eventArgs.Value);}" /></td>
                                <td class="align-middle"><a class="text-success" style="font-size: small">@item.Nombre</a></td>
                                <td class="align-middle"><a style="color: #424444; font-size: small">@item.Marca.Nombre</a></td>
                                <td>
                                    <div>
                                        <mark data-toggle="modal" data-target="#taskModal-edit" @onclick="(() => InicializarObjetoEdit(item))" class="bg-primary" style="cursor:pointer; border-radius:20px 20px 20px 20px; padding-left:5px; color:white"><span class="oi oi-pencil" aria-hidden="true"></span></mark>
                                        <mark @onclick="(() => Eliminar(item))" class="bg-danger" style="cursor:pointer; border-radius:20px 20px 20px 20px; padding-left:5px; color:white"><span class="oi oi-trash" aria-hidden="true"></span></mark>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

<AddModelo ObjetoAdd="objetoAdd" Marcas="marcas" DataChanged="@DataChanged" Token="@Token" />
<EditModelo ObjetoEdit="objetoEdit" Marcas="marcas" DataChanged="@DataChanged" Token="@Token" />
<Paginacion TotaPagesQuantity="totalPageQuantity" CurrentPage="currentPage" Radius="3" SelectedPage="SelectedPage"></Paginacion>

@code {

    List<Modelo> modelosXmarca { get; set; }
    List<Marca> marcas = new List<Marca>();
    Modelo objetoAdd = new Modelo();
    Modelo objetoEdit = new Modelo();
    private string Token { get; set; } = "";

    private int totalPageQuantity;
    private int currentPage = 1;
    string campoSorteoActual = "Nombre";
    string ordenSorteoActual = "Asc";

    Buscar objetoBuscar { get; set; } = new Buscar();

    public MultiTask multi;
    private List<Modelo> ListadoEliminar { get; set; } = new List<Modelo>();

    protected override async Task OnInitializedAsync()
    {
        Token = await JS.GetFromLocalStorage("TOKENKEY");
        await LoadItems();
        marcas = await marcasService.Get();
    }

    async Task LoadItems(int page = 1, int quantityPerPage = 7, string campoSorteo = "Nombre", string ordenSorteo = "Asc")
    {
        //modelosXmarca = await modelosService.GetXMarca(objetoAdd.MarcaId);
        totalPageQuantity = (await modelosService.GetPagXMarca(objetoAdd.MarcaId, new Pagination() { Page = page, QuantityPerPage = quantityPerPage }, string.Empty, campoSorteo, ordenSorteo)).CantPorPag;
        modelosXmarca = (await modelosService.GetPagXMarca(objetoAdd.MarcaId, new Pagination() { Page = page, QuantityPerPage = quantityPerPage }, string.Empty, campoSorteo, ordenSorteo)).ListaObjetos.ToList();
    }

    private async Task SelectedPage(int page)
    {
        currentPage = page;
        if (string.IsNullOrEmpty(objetoBuscar.Texto))
        {
            await LoadItems(page);
        }
        else
        {
            await Buscar(objetoBuscar.Texto, page);
        }
    }

    private string IndicadorOrden(string campoSorteo)
    {
        if (campoSorteo.Equals(campoSorteoActual))
        {
            return ordenSorteoActual.Equals("Asc") ? "oi oi-arrow-top" : "oi oi-arrow-bottom";
        }
        return string.Empty;
    }

    private async Task Ordenar(string campoSorteo)
    {
        if (campoSorteo.Equals(campoSorteoActual))
        {
            ordenSorteoActual = ordenSorteoActual.Equals("Asc") ? "Desc" : "Asc";
        }
        else
        {
            campoSorteoActual = campoSorteo;
            ordenSorteoActual = "Asc";
        }
        await LoadItems(1, 7, campoSorteoActual, ordenSorteoActual);
    }

    private async Task Buscar(string texto, int page = 1)
    {
        int quantityPerPage = 7;
        totalPageQuantity = (await modelosService.GetPagXMarca(objetoAdd.MarcaId, new Pagination() { Page = page, QuantityPerPage = quantityPerPage }, texto, "Nombre", "Asc")).CantPorPag;
        modelosXmarca = (await modelosService.GetPagXMarca(objetoAdd.MarcaId, new Pagination() { Page = page, QuantityPerPage = quantityPerPage }, texto, "Nombre", "Asc")).ListaObjetos.ToList();
    }

    public async Task OnChange(ChangeEventArgs e)
    {
        objetoAdd.MarcaId = int.Parse(e.Value.ToString());
        await LoadItems(1);
    }

    private async Task Eliminar(Modelo item)
    {
        var usada = await modelosService.GetModeloEnUso(item.Id);
        if (usada)
        {
            await JS.MostrarMensaje("Denegado", $"Modelo {item.Nombre} está siendo usado.", IJSExtensions.TipoMensajeSweetAlert.error);
        }
        else
        {
            if (await JS.Confirm($"{item.Nombre} no está en uso.", $"Esto eliminará solo el modelo {item.Nombre}."))
                await modelosService.Delete(item.Id, Token);
        }

        await LoadItems(currentPage);
    }

    private void InicializarObjetoAdd()
    {
        objetoAdd = new Modelo();
    }

    private void InicializarObjetoEdit(Modelo item)
    {
        objetoEdit = new Modelo() { Id = item.Id, Marca = item.Marca, MarcaId = item.MarcaId, Nombre = item.Nombre };
    }

    private async void DataChanged()
    {
        await LoadItems(currentPage);
        StateHasChanged();
    }

    private async Task EliminarMultiple()
    {
        var clean = true;
        foreach (var item in ListadoEliminar)
        {
            var usada = await modelosService.GetModeloEnUso(item.Id);
            if (usada)
            {
                await JS.MostrarMensaje("Denegado", $"Modelo {item.Nombre} está siendo usado.", IJSExtensions.TipoMensajeSweetAlert.error);
                clean = false;
                return;
            }
        }

        if (ListadoEliminar.Count > 0 && clean)
        {
            if (await JS.Confirm("Eliminar", "Esta acción no es retornable"))
            {
                await modelosService.EliminarMultiple(ListadoEliminar, Token);
                ListadoEliminar.Clear();
                navi.NavigateTo("/modelos", true);
            }
        }
    }

    private async Task CHBCheckChanged(Modelo item, object checkValue)
    {
        if ((bool)checkValue)
        {
            ListadoEliminar.Add(item);
        }
        else
        {
            ListadoEliminar.Remove(item);
        }
        if (ListadoEliminar.Count > 0)
        {
            multi.Activate();
        }
        else
        {
            multi.Deactivate();
        }
    }

}
